<div id="<%= dom_id dish %>">
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <ul>
      <% dish.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li> <!-- or any other attribute of ingredient -->
      <% end %>
    </ul>
  </p>
</div>